.Header {
  display: flex;
  justify-content: space-between;
}

.fullname {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 1.4rem 0;
  column-gap: 1rem;
  list-style: none;
}

.contact-item a {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.description {
  font-style: italic;
  color: var(--primary);
}

.avatar {
  margin: 0 0.6rem;
}

.avatar img {
  background-color: var(--primary);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
