.Footer {
  color: var(--gray);
  font-variant: small-caps;
  display: flex;
  justify-content: space-between;
}

@media screen {
  .Footer {
    margin-top: var(--body-margin);
  }
}

@media print {
  .Footer {
    display: none;
    position: fixed;
    width: 100%;
    padding: var(--body-margin);
    left: 0;
    bottom: -2.4rem;
  }
}
